
/* Breakpoints */
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;


/* Widget Dimensions */
$widget-width-open: 720px;
$widget-height-open: 376px;
$widget-width-closed: 256px;
$widget-height-closed: 208px;