.rating {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 16px;

  // Begin: Rating widget Title
  &__companyTitle {
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 600;
    text-align: center;
    font-size: 1rem;
  }
  // End: Rating widget Title


  // Begin: Rating widget Logo
  &__logo {
    max-width: 160px;
  }

  // Begin: Rating Review Total
  &__reviewTotal {
    font-size: 0.8rem;
  }

  // Begin: Rating Stars
  &__stars {
    width: 100%;
    max-width: 180px;
    padding-top: 4px;
  }
}
