// Review Score Colours
$rank_one : rgba(224, 30, 37, 1);
$rank_two : rgba(242, 129, 36, 1);
$rank_three : rgba(250, 240, 82, 1);
$rank_four : rgba(139, 183, 66, 1);
$rank_five : rgba(31, 173, 75, 1);
$rank_na : rgba(170, 170, 170, 0.1);

//Widget Colours
$white : #fff;
$border : #eee;