.widget {
  //Font
  font-family: $font;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  //Dimensions
  height: $widget-height-closed;
  width: $widget-width-closed;

  //Position
  position: absolute;
  bottom: 0;
  right: 0;

  //Transitions
  transition: width 1s ease, height 1s ease;

  //Styles
  background: $white;
  border-radius: 10px 0 0 0;
  -webkit-box-shadow: 0 0 0 1.5px $border;
  -moz-box-shadow: 0 0 0 1.5px $border;
  box-shadow: 0 0 0 1.5px $border;

  &__overview {
    flex: 1.25 3;
    position: relative;
    align-self: center;
    height: 100%;
    cursor: pointer;
    border-right: 2px solid $border;

    //Padding
    padding-left: 8px;
    padding-right: 8px;
  }

  &__contents {
    display: flex;
    width: 0;
    flex: 0;
    flex-direction: column;
    transition: all 0.8s ease;
    overflow: hidden;
  }

  &.collapsing {
    width: $widget-width-open;
    height: $widget-height-open;

  }
  &.collapsed {
    width: $widget-width-open;
    height: $widget-height-open;
    $this: &;

    @media (max-width: $tablet-width) {
      width: 0;
    }

    & .widget__contents {
      width: auto;
      flex: 2 1;
      overflow: scroll;
    }

    & .review {
      flex: 1;
      max-height: 25%;
      min-height: 25%;

      &.active {
        max-height: 9999px; //Workaround to make the beautiful transition...
        min-height: initial;
      }
    }

    & .reviews {
      margin-top: 32px;
    }
  }
}

